# build
.next

# git
.git
.gitignore

# package
node_modules
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# testing
cypress/videos
cypress/screenshots
.nyc_output
cypress